extends layout

block content
  h2 Bonjour #{name},
  p Un administrateur a réinitialisé votre mot de passe pour votre espace #{companyName}.
  p Voici votre nouveau mot de passe temporaire :

  .card
    table(width="100%" cellpadding="0" cellspacing="0" border="0")
      tr
        td.row-label Nouveau mot de passe
        td.row-value(style="font-size: 16px; font-family: 'SFMono-Regular', Consolas, Menlo, monospace;") #{password}

  p(style="color: #8A7566; font-size: 14px; margin-top: 32px;") Pour votre sécurité, nous vous conseillons de le modifier dès votre première connexion dans les paramètres de votre profil.

  div(style="text-align: center; margin-top: 40px;")
    a.btn(href=dashboardUrl) Se connecter

  div.divider

  p(style="font-size: 13px; color: #8A7566; text-align: center;")
    | Si vous n'êtes pas à l'origine de cette demande, veuillez contacter immédiatement votre administrateur ou notre support technique.
