extends layout

block content
  h2 Bienvenue !
  p Bonjour #{name},
  p Merci de vous être inscrit chez #{companyName} ! 
  p Pour finaliser la création de votre compte, veuillez confirmer votre adresse email en cliquant sur le bouton ci-dessous :

  div(style="text-align: center; margin: 40px 0;")
    a.btn(href=verificationLink) Confirmer mon inscription

  p(style="color: #71717a; font-size: 14px;") Si vous n'avez pas créé de compte, vous pouvez ignorer cet email en toute sécurité.

  div.divider
  
  p(style="font-size: 11px; color: #52525b;") 
    | Le lien de vérification expirera dans quelques heures.