extends layout

block content
  h2 Bonjour #{clientName},
  p Bonne nouvelle ! Votre ticket support a été accepté par notre équipe technique.

  .card
    h3.card-title Détails du ticket

    table(width="100%" cellpadding="0" cellspacing="0" border="0")
      tr
        td.row-label Sujet
        td.row-value #{ticketTitle}

      tr
        td.row-label.row-sep État
        td.row-value.row-sep
          span.badge.badge-success Accepté

      if projectName
        tr
          td.row-label.row-sep Projet associé
          td.row-value.row-sep #{projectName}

  p(style="margin-top: 32px;") Une tâche a été créée et assignée à notre équipe pour résoudre votre demande. Vous pouvez suivre l'avancement directement sur votre application mobile Hipster.

  div(style="text-align: center; margin-top: 40px;")
    a.btn(href=appUrl) Suivre mon ticket
