extends layout

block content
  h2 Salut #{firstName} !
  p Bienvenue chez #{companyName} ! Nous sommes ravis de vous avoir parmi nous.
  p Votre compte a été créé avec succès. Voici vos identifiants de connexion :

  .card
    table(width="100%" cellpadding="0" cellspacing="0" border="0")
      tr
        td.row-label Email
        td.row-value #{email}
      tr
        td.row-label.row-sep Mot de passe temporaire
        td.row-value.row-sep(style="font-family: 'SFMono-Regular', Consolas, Menlo, monospace;") #{temporaryPassword}

  p(style="color: #8A7566; font-size: 14px; margin-top: 32px;") Nous vous recommandons de changer votre mot de passe dès votre première connexion pour garantir la sécurité de votre compte.

  div.divider

  p(style="font-size: 13px; color: #8A7566; text-align: center;")
    | Si vous n'avez pas demandé cette inscription, veuillez ignorer cet email ou nous contacter si vous avez des questions.
